@font-face {
    font-family: 'vagroundedlight';
    src: url('../fonts/vagrounded-light-webfont.eot');
    src: url('../fonts/vagrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-light-webfont.woff') format('woff'),
         url('../fonts/vagrounded-light-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-light-webfont.svg#vagroundedlightlightLtLt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'vagron';
    src: url('../fonts/vagron.eot');
    src: url('../fonts/vagron-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagron-webfont.woff') format('woff'),
         url('../fonts/vagron-webfont.ttf') format('truetype'),
         url('../fonts/vagron-webfont.svg#vagron-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tragic';
    src: url('../fonts/TragicMarker.otf');
    src: url('../fonts/TragicMarker.eot'),
         url('../fonts/TragicMarker.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TragicMarker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'vagron'
}

.ax-cont-info h2 {
    font-family: 'vagroundedlight';
    font-size: 3.7rem;
    letter-spacing: 0.2rem;
}

.ax-cont-info h3 {
    font-family: 'vagroundedlight';
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
::-webkit-input-placeholder { color: #b3a1a5 !important; }
:-moz-placeholder { color: #b3a1a5 !important;  }
::-moz-placeholder { color: #b3a1a5 !important; }
:-ms-input-placeholder { color: #b3a1a5 !important; }

body {
    background: rgb(75, 171, 73);
}

* {
    font-family: 'vagroundedlight';
}

p {
    line-height: 1.2rem;
    font-size: 0.95rem;
}

.manual {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ededed;
    top: 120%;
    padding: 20px;
}

.manual:before {
    content: "";
    display: block;
    width: 100%;
    height: 20%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    bottom: 100%;
}

/*doble página*/
/* Basic sample */

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	margin: 0 auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


/*Pages*/

.ax-page-2 .cont-title {
    width: 350px;
    text-align: center;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.ax-page-2 h2 {
    color: #575756;
    font-family: 'vagroundedlight';
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    line-height: 2.2rem
}

.ax-page-2 .cont-title img {
    width: 32%;
    margin-top: 10px;
}

.ax-page-3:after {
    content: "";
    display: block;
    background: #3fa435;
    position: absolute;
    height: 100%;
    width: 25px;
    top: 0;
    right: 0;
}

.ax-page-3 .ax-cont-info {
    width:  90%;
    position: absolute;
    right: 0;
    top: 24%;
}

.ax-page-3 .ax-cont-info h2 {
    position: relative;
    margin-right: 26%;
    width: 100%;
}

.ax-page-3 .ax-cont-info h2:after {
    content: "";
    display: block;
    background: #3fa435;
    position: absolute;
    width: 100%;
    height: 3px;
}

.ax-page-3 .ax-cont-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

.ax-page-3 .ax-cont-info li {
    font-size: 1rem;
    margin: 10px 0;
}

.ax-page-3 ul span {
    color: #3fa435;
    font-family: 'vagron';
    margin: 0 10px 0 ;
    text-align: right;
    display: inline-block;
}

.ax-page-4 .ax-cont-info {
    background: #3fa435 url(../img/epm_logowhite.png) no-repeat 87% 93%;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center
}

.ax-page-4 .ax-cont-info h2 {
    font-size: 3rem;
    padding-top: 40%
}

.ax-page-4 .ax-cont-info p {
    width: 63%;
    font-size: 1.1rem;
    margin: 30px auto;
    letter-spacing: 0.1rem;
}

.ax-page-5 .ax-cont-info, .ax-page-7 .ax-cont-info, .ax-page-9 .ax-cont-info {
    width: 92%;
    height: 90%;
    margin-left: 8%;
}

.ax-page-5 .ax-cont-info .ax-cont-first, .ax-page-7 .ax-cont-info .ax-cont-first, .ax-page-10 .ax-cont-info .ax-cont-first {
    padding: 40px 0;
    width: 90%;
}

.ax-cont-info .ax-cont-first span {
    background: #000;
    color: #fff;
    line-height: 21px;
    padding: 0 2px;
}

.ax-page-9 .ax-cont-info .ax-cont-first {
    padding: 120px 0 0 0; 
    width: 84%;
}

.ax-page-9 .ax-cont-info .ax-cont-first p { 
    margin-top: 8px;
    }

.ax-page-5 .ax-cont-info .ax-cont-first p {
    height: 138px;
}

.ax-page-5 .ax-cont-info h3 {
    padding-bottom: 10px;
}

.ax-page-5 .ax-eger-1 {
    position: relative;
}

.ax-page-5 .ax-eger-1:after, .ax-page-6 .ax-eger-2 .ax-text:after, .ax-page-6 .ax-eger-3:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    background: url(../img/line-page.png) no-repeat;
    background-size: 100% 3px;
}

.ax-page-5 .ax-eger-1:after {
    background-size: 240px 3px;
}

.ax-page-5 .ax-eger-1 p {
    padding: 0 0 30px 0;
}

.ax-page-5 .ax-eger-1 > div {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.ax-page-5 .ax-image-svg {
    width: 50%;
    display: inline-block;
}

.ax-page-5 .ax-image-svg svg {
    width: 80%;
    margin-left: 20%;
}

.ax-page-5 .ax-eger-1 h3 {
    color: #9ac331;
    line-height: 28px;
}

.ax-page-5 .ax-eger-1 p, .ax-page-6 .ax-eger-2 p, .ax-page-6  .ax-eger-3 p, .ax-page-5 .ax-eger-4 p {
    font-family: 'tragic';
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.ax-page-5 .ax-eger-1 .ax-pasos {
    right: -13%;
    top: 38%;
}

.ax-page-5 .ax-eger-4, .ax-page-6 .ax-eger-4 {
    background: url(../img/ax-font-green.png);
    background-size: 101% 100%;
    color: #fff;
    padding: 20px 26px;
    position: relative;
}

.ax-page-6 .ax-eger-4 {
    background-position: -4px 0;
}

.ax-page-5 .ax-eger-4 .ax-pasos { 
    background-image: url(../img/ax-pasos-withe.png);
    color: #000;
    padding: 14px;
    top: 20px;
    left: 20px;
}

.ax-page-5 .ax-eger-4 h3  {
    font-family: 'vagron';
    font-size: 18px;
    width: 92%;
    text-align: center;
    margin-left: 10%;
}

.ax-page-5 .ax-eger-4 p {
    font-size: 1.2rem;
    margin: 0;
}

.ax-page-5 .ax-eger-4 textarea {
    background: transparent;
    border: none;
    width: 100%;
    background: url(../img/ax-font-textarea.png);
    background-size: 100%;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;
}

.ax-page-5 .ax-eger-4 textarea:focus {
    outline: none;
}

.ax-page-6 .ax-cont-info, .ax-page-8 .ax-cont-info, .ax-page-10 .ax-cont-info {
    width:  90%;
    position: absolute;
    left: 0;
}

.ax-page-6 .ax-eger-2 {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 63px 0 40px 0;
}

.ax-page-6 .ax-eger-2 .ax-text {
    position: absolute;
    right: 0;
    bottom: 11%;
    padding: 60px 0;
    width: 240px;
}

.ax-page-6 .ax-eger-2 .ax-text p {
    width: 70%;
    margin: 0 auto;
}

.ax-page-6 .ax-eger-2 .ax-pasos {
    top: -13%;
    left: 6%;
}

.ax-page-6 .ax-eger-2 .ax-image-svg img {
    width: 150%;
}

.ax-page-6 .ax-eger-3 {
    position: relative;
    display: inline-block;
    padding: 50px 0 43px 0;
}

.ax-page-6 .ax-eger-3 .ax-image-svg img {
    width: 100%;
}

.ax-page-6 .ax-eger-3 .ax-pasos {
    top: -53%;
    left: 2.5%;
}

.ax-page-6 .ax-eger-4:before {
    content: url(../img/ax-font-person-happy.png);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ax-page-6 .ax-eger-4 h3, .ax-page-6 .ax-eger-4 p, .ax-page-7 .ax-text p, .ax-page-8 .ax-text p, .ax-page-10 .ax-text {
    font-family: 'tragic';
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.ax-page-7 .ax-text p {
    font-size: 17px;
}

.ax-page-6 .ax-eger-4 textarea {
    background: transparent;
    border: none;
    width: 70%;
    background: url(../img/ax-font-textarea.png);
    background-size: 100% 30px;
    height: 69px;
    min-height: 69px;
    max-height: 69px;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;
}

.ax-page-6 .ax-eger-4 textarea:focus {
    outline: none;
}

.ax-page-7 .ax-cont-info .ax-cont-first  {
    padding: 20px 0;
}

.ax-page-7 .ax-cont-info .ax-cont-first {
    width: 93%;
}

.ax-page-7 .ax-text h3 {
    color: #9ac331;
    line-height: 32px;
}

.ax-imagen-tols {
    position: relative;
    padding-right: 0;
}

.ax-imagen-tols .ax-tols {
    position: absolute;
    top: 100%;
    right: 100%;
}

.ax-imagen-tols .ax-tols img {
    width: 12px;
    display: block;
    margin: 0 auto;
}

.ax-imagen-tols .ax-tols p {
    font-size: 1.05rem;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.05rem;
}

.ax-imagen-tols .ax-tols-1 {
    top: 30px;
    left: 0%;
    width: 70px;
}

.ax-imagen-tols .ax-tols-2 {
    top: 30px;
    left: 19%;
    width: 63px
}

.ax-imagen-tols .ax-tols-3 {
    top: 60px;
    left: 35%;
    width: 80px;
}

.ax-imagen-tols .ax-tols-4 {
    top: 70px;
    left: 55%;
    width: 80px;
}

.ax-imagen-tols .ax-tols-5 {
    top: 50px;
    left: 84%;
    width: 100px;
}

.ax-imagen-tols .ax-tols-6 {
    top: 190px;
    left: 40%;
    width: 230px;
}

.ax-imagen-tols .ax-tols-4 p {
    padding: 0;
    margin: 0;
}

.ax-imagen-tols .ax-tols-5 p {
    position: absolute;
    width: 100px;
    transform:rotate(270deg);
    top: 40px;
    left: -15px;
}

.ax-imagen-tols .ax-tols-2 img {
    width: 10.9px;
    display: block;
    margin: 0 auto;
}

.ax-imagen-tols .ax-tols-3 img {
    width: 16px;
}

.ax-imagen-tols .ax-tols-5 img {
    width: 17px;
    margin: 0;
}

.ax-imagen-tols .ax-tols-4 img {
    width: 90%;
}

.ax-imagen-tols .ax-tols-6 img {
    width: 73px;
    float: left;
}

.ax-image-svg {
    opacity: 0;
}

.ax-page-8 .ax-cont-info {
    left: 8%;
}

.ax-game-line {
    position: relative;
}

.ax-page-8 .ax-line-1.ax-game-line {
    padding: 70px 0 0 0;
}

.ax-page-8 .ax-line-1 P {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.ax-page-8 .ax-line-2 {
    margin-top: -30px;
}

.ax-page-8 .ax-line-2 P {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px
}

.ax-page-8 .ax-line-2 img {
    display: inline-block;
    width: 33%;
    margin: 30px
}

.ax-page-8 .ax-line-3 P {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px
}

.ax-page-8 .ax-line-3 img {
    display: inline-block;
    width: 23%;
    margin: 40px 0 0 0;
}

.ax-page-8 .ax-empezar-linea {
    position: absolute;
    width: 45%;
    top: 10%;
    right: 0;
}

.ax-page-8 .ax-empezar-linea p {
    font-size: 0.7rem;
    width: 100%;
}

.ax-page-8 .ax-empezar-linea img {
    width: 30px;
    position: absolute;
    bottom: 0px;
    left: 8%;
}

.ax-page-9 p {
    margin: 0;
}

.ax-page-9 .ax-cuadro-verde {
    margin: 4% 0 0 4%;
    width: 54%;
    float: left;
    padding-right: 6%;
}

.ax-page-9 .ax-text-media p {
    padding: 0;
    margin: 0
}

.ax-page-10 .ax-cont-info .ax-cont-first {
    padding-left: 10%;
    padding-top: 80px;
}

.ax-page-10 .ax-text {
    padding-top: 30px;
    width: 77%;
}

.ax-page-10 img {
    position: absolute;
    top: 10%;
    right: 0;
    width: 290px;
    z-index: 1;
}

.ax-page-10 textarea {
    position: relative;
    border: none;
    width: 74%;
    background: rgba(255,255,255,0.7) url(../img/ax-border-textarea-white.png);
    background-size: 100%;
    height: 190px;
    min-height: 190px;
    max-height: 190px;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
    font-weight: lighter;
    z-index: 2;
}

.ax-page-10 textarea:focus {
    outline: none;
}

.ax-cuadro-verde {
    background: url(../img/ax-cuadro-verde.png);
    padding: 20px;
    color: #fff;
    background-size: cover;
}

.ax-cuadro-verde p {
    font-family: 'tragic';
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
}

.path path {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash 2s ease-in forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.bread {
    padding: 30px 50px 0 0;
    text-decoration: underline;
    display: block;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-align: right;
}

.ax-pasos {
    background: url(../img/ax-pasos.png) no-repeat center;
    background-size: 100%;
    display: block;
    padding: 16px;
    line-height: 16px;
    font-family: 'tragic';
    position: absolute;
    font-weight: bold;
    font-size: 34px;
}

.ax-hidden {
    display: none;
}

#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ax-iniciar-sesion,.ax-registro,.ax-recuperar{
    display: none;
}

.col-centered{
    margin: 0 auto;
    float: none;
/*    text-align: center;*/
}

/* Common button styles */
.button {
    display: inline-block;
    min-width: 150px;
    max-width: 250px;
    margin: 0.5em;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 0.4em;
    border-radius: 25px;
}
.button:focus {
	outline: none;
}

/* Antiman */
.button--antiman {	
	border: solid 1.5px #fff;
    color: #fff;
    background: none;   
}

/*.button--antiman::before,
.button--antiman::after {
	content: '';
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
	border: 2px solid #fff;
	opacity: 0;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}

.button--antiman::after {
	background: transparent;
}

.button--antiman:hover::before {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
	opacity: 0;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

.button--antiman:hover{
    color: rgb(75,171,73);
}
*/

a.linkEffect{
	-webkit-backface-visibility:hidden;
  	backface-visibility:hidden;
	position:relative;
  	transition:0.5s color ease;
	text-decoration:none;
    color: #fff;
}
a.linkEffect:hover{	color:#fff; }

a.linkEffect:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
  bottom:-0.1em;
  height:0.1rem;
  width:0;
  background:#fff;
  left:0;
}

a.linkEffect:hover:after{  width:100%; }

.ax-iniciar-sesion .form-control,.ax-registro .form-control,.ax-recuperar .form-control{
    border-radius: 0;
    border: none;
}

form ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 800px;
}



form label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    color: #fff;
}

form input[type="checkbox"],
form input[type="radio"],
form label::before {
	width: 22px;
    height: 22px;
    top: 50%;
    left: 0;
    margin-top: -11px;
    position: absolute;
    cursor: pointer;
}

form input[type="checkbox"],
form input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	
}

form label::before {
	content: '';
	border: 2px solid #fff;
}

.ac-radio label::before {
	border-radius: 50%;
}

form input[type="checkbox"]:checked + label,
form input[type="radio"]:checked + label {
	color: #fff;
} 

form input[type="checkbox"]:checked + label::before,
form input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

form svg {
	position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -13px;
    left: 3px;
    pointer-events: none;
}

form svg path {
	stroke: #fdfcd3;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

