@font-face {
    font-family: 'vagroundedlight';
    src: url('../fonts/vagrounded-light-webfont.eot');
    src: url('../fonts/vagrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-light-webfont.woff') format('woff'),
         url('../fonts/vagrounded-light-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-light-webfont.svg#vagroundedlightlightLtLt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'vagron';
    src: url('../fonts/vagron.eot');
    src: url('../fonts/vagron-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagron-webfont.woff') format('woff'),
         url('../fonts/vagron-webfont.ttf') format('truetype'),
         url('../fonts/vagron-webfont.svg#vagron-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tragic';
    src: url('../fonts/TragicMarker.eot');
    src: url('../fonts/TragicMarker.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TragicMarker.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'vagron'
}

.ax-cont-info h2 {
    font-family: 'vagroundedlight';
    font-size: 3.7rem;
    letter-spacing: 0.2rem;
}

.ax-cont-info h3 {
    font-family: 'vagroundedlight';
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
}

body {
    background: #f4f4f4
}

* {
    font-family: 'vagroundedlight';
}

p {
    line-height: 1.3rem;
}

.manual {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ededed;
    top: 120%;
    padding: 40px;
}

.manual:before {
    content: "";
    display: block;
    width: 100%;
    height: 20%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    bottom: 100%;
}

/*doble página*/
/* Basic sample */

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	margin: 0 auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


/*Pages*/

.ax-page-2 .cont-title {
    width: 350px;
    text-align: center;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.ax-page-2 h2 {
    color: #575756;
    font-family: 'vagroundedlight';
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    line-height: 2.9rem
}

.ax-page-2 .cont-title img {
    width: 32%;
    margin-top: 10px;
}

.ax-page-3:after {
    content: "";
    display: block;
    background: #3fa435;
    position: absolute;
    height: 100%;
    width: 25px;
    top: 0;
    right: 0;
}

.ax-page-3 .ax-cont-info {
   width:  80%;
    position: absolute;
    right: 0;
    top: 24%;
}

.ax-page-3 .ax-cont-info h2 {
    position: relative;
    margin-right: 26%;
    width: 100%;
}

.ax-page-3 .ax-cont-info h2:after {
    content: "";
    display: block;
    background: #3fa435;
    position: absolute;
    width: 100%;
    height: 3px;
}

.ax-page-3 .ax-cont-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

.ax-page-3 .ax-cont-info li {
    font-size: 1.1rem;
    margin: 10px 0;
}

.ax-page-3 ul span {
    color: #3fa435;
    font-family: 'vagron';
    margin: 0 10px 0 ;
    text-align: right;
    display: inline-block;
}

.ax-page-4 .ax-cont-info {
    background: #3fa435 url(../img/epm_logowhite.png) no-repeat 87% 93%;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center
}

.ax-page-4 .ax-cont-info h2 {
    font-size: 3rem;
    padding-top: 40%
}

.ax-page-4 .ax-cont-info p {
    width: 63%;
    font-size: 1.1rem;
    margin: 30px auto;
    letter-spacing: 0.1rem;
}

.ax-page-5 .ax-cont-info {
    width: 90%;
    height: 90%;
    margin-left: 10%;
}

.ax-page-5 .ax-cont-info .ax-cont-first {
    padding-top: 60px;
    width: 80%;
}

.ax-page-5 .ax-cont-info h3 {
    padding-bottom: 10px;
}

.ax-page-5 .ax-eger-1 {
    width: 100%;
    position: relative;
    display: inline-block;
}

.ax-page-5 .ax-image-svg {
    width: 50%;
    display: inline-block;
}

.ax-page-5 .ax-eger-1 h3 {
    color: #9ac331;
    line-height: 32px;
}

.ax-page-5 .ax-eger-1 .ax-pasos {
    right: -14%;
    top: 12%;
}

.path path {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash 2s ease-in forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.bread {
    padding: 30px 50px 0 0;
    text-decoration: underline;
    display: block;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-align: right;
}

.ax-pasos {
    background: url(../img/ax-pasos.png) no-repeat center;
    width: 30px;
    height: 30px;
    display: block;
    padding: 14px;
    line-height: 10px;
    font-family: 'tragic';
    position: absolute;
}

.ax-hidden {
    display: none;
}